.btn {
  display: inline-block;
  padding: 11px 59px;
  width: 120px;
  font-weight: 400;
  font-size: 1.333rem;
  line-height: 1.167;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4d88ed;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;  
  transition: background-color .2s ease;

  &:hover {
    background-color: #0c64fa;
  }

  &:active {
    background-color: #76a4f5;
  }

  &--danger {
    background-color: #fe7171;

    &:hover {
      background-color: #fc4040;
    }
  
    &:active {
      background-color: #f58c8c;
    }
  }
}