.user__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 8px 15px;
  background: #fff;
  border: 1px solid #C0BFBF;  
  border-radius: 10px;
}

.user__info {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.user__avatar {
  width: 50px;
  height: 50px;
  margin-right: 15px;

  img {
    width: 100%;
  }
}

.user__name {
  margin: 0;  
  font-size: 1rem;
  font-weight: 400;
}

.btn-follow {
  width: 120px;
  margin: 0 auto;
  padding: 7px 30px;
  font-size: .778rem;
}

@media (min-width: 576px) {
  .user__item {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .user__info {    
    width: auto;
    margin-bottom: 0;
  }
  
  .user__avatar {    
    margin-right: 30px;
  }
  
  .user__name {    
    font-size: 1.333rem;
  }
  
  .btn-follow {
    margin: 0;   
  }
}