.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;

  &__img {
    width: 70px;
    height: 70px;
    margin-right: 9px;
  }

  &__title {    
    font-size: 2rem;
    line-height: 1.167;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .logo {
    &__img {
      width: 100px;
      height: 100px;
    }

    &__title {
      font-size: 3rem;
    }
  }
}

@media (min-width: 991px) {
  .logo {
    &__title {
      font-size: 4rem;
    }
  }
}