@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('./assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('./assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: normal 18px/1.22 Roboto, sans-serif;  
  color: #1a1a2e;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}